<div class="dashboard-container">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
  </div>

  <div class="table-container">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="view/update">
        <mat-header-cell *matHeaderCellDef> View / Update </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onViewClicked(row.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="onDeletedClicked(row.id)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>